<tr class="file">
    <td class="name"><a class="view-file" href="{item-link}" download>{item-name}</a></td>
    <td>{type-or-size}</td>
    <td class="date">{item-date-modification}</td>
    <td class="actions">
        <a href="{rename-link}" class="btn"><i class="fa-solid fa-pen fa-xs"></i></a>
        <a href="{delete-link}" class="btn red" onclick="return confirm('Are you sure you want to delete this file?')"><i class="fa-solid fa-trash fa-xs"></i></a>
        <a href="{item-link}" class="btn green" download><i class="fa-solid fa-download fa-xs"></i></a>
    </td>
    <td class="preview">{preview}</td>
</tr>